* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.page-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; 
  padding-right: 50%;
  
}

.slideshow-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  width: 50rem;
  left: 30px;
  bottom: 175px;
}


.mySlides {
  display: none;
  position: relative;
}

.foto {
  width: 100%;
  display: block;
  border-radius: 10px;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  user-select: none;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
  z-index: 10;
}


.page-title {
      margin-top: 0px; /* ruimte onder de navbar */
      display: flex;
      justify-content: flex-end; /* titel naar rechts */
      padding: 0 500px;
      padding-top: 120px;
      font-family: 'bruno ace sc';
    }

    .page-title h1 {
      font-size: 40px;
      margin: 0;
    }

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  bottom: 12px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: 0.4 }
  to { opacity: 1 }
}



#admin-container {
<<<<<<< HEAD
      position: absolute; /* blijft op dezelfde plek als je scrollt */
      top: 61%; /* verticale midden */
      right: 70px;          /* helemaal rechts */
      transform: translateY(-50%); /* verticale centrering */
=======
      position: absolute; 
      top: 62%;          
      right: 70px;         
      transform: translateY(-50%); 
>>>>>>> 9f7dd0380c1f4b525d9d95cd2a5e692a21728075
      width: 700px;
      padding: 31px;
      background-color: rgb(0, 0, 0);
      border: 2px solid #9f1616;
      border-radius: 10px 0 0 10px; 
      box-shadow: -10px 10px 40px rgb(143, 15, 15);
      font-family: 'bruno ace sc';
    }

 
    
      
    
    