.container {
      max-width: 900px;
      margin: 40px auto;
      background-color: #fff;
      padding: 40px 30px;
      box-shadow: 0 0 15px rgba(0,0,0,0.05);
      border-radius: 8px;
    }
    h1, h2 {
      color: #003366;
    }
    h2 {
      margin-top: 30px;
    }
    ul {
      padding-left: 20px;
      list-style-type: disc;
    }
    a {
      color: #003366;
    }