
    .projects-title {
      font-size: 60px;
      font-weight: bold;
      color: #ffffff;
      font-family: 'Bruno Ace SC';
      margin-top: 120px;
      margin-left: 100px;
      margin-bottom: 60px;
    
    }

 .container {
      max-width: 1400px;
      margin: 0 auto;
      padding: 40px 20px;
      background-color: transparent;
      justify-content: center;

    }

    .video-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;

    }

    .video-container {
      position: relative;
      border-radius: 16px;
      overflow: hidden;
      text-align: center;
      display: flex;
      flex-direction: column;
      background-color: transparent;
    }

    video {
      width: 100%;
      display: block;
      filter: brightness(0.6);

      aspect-ratio: 16/9;
      object-fit: fill;
      height: 300px;

    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 40px; /* boven de titel */
      background-color: transparent;
      transition: opacity 0.3s ease;
      pointer-events: none;
    }

    .video-container:hover video {
      filter: brightness(1);
    }

    .video-container:hover .overlay {
      opacity: 0;
    }

    .title {
    font-family: 'Bruno Ace SC' , cursive;
    margin-top: 30px;
    }
    