
    .content {
      margin-top: 40px; 
      padding: 20px;
      margin-left: 70px
    }

    .projects-title {
      font-size: 60px;
      font-weight: bold;
      color: #ffffff;
      font-family: 'Bruno Ace SC';
    
    }