* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
    }

    nav {
      background-color: #cd0e0e;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      position: sticky;
      top: 0;
      z-index: 1000;
          }

    .navbar {
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      padding: 2rem;
    }

    .logo {
    position: absolute;
      top: -90px;
      left: 10px;
      width: 500px; /* Pas aan voor gewenste grootte */
      height: auto;
    }

    .nav-links {
    display: flex;
    margin-left: auto; 
    gap :4rem
    }

    .nav-links a {
      text-decoration: none;
      color: #555;
      transition: color 0.3s;
  
    }

    .nav-links a:hover {
      color: #000;
    }
